In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('titanic.csv')
df.head(2)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1

In [22]:
df_new = df.drop(['PassengerId','Embarked', 'Name', 'SibSp', 'Parch','Ticket','Cabin'], axis = 'columns')
df_new.head(2)

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1

In [26]:
target = df_new.Survived
inputs=df_new.drop('Survived', axis='columns')

In [27]:
dummies = pd.get_dummies(inputs.Sex).astype(int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [28]:
inputs = pd.concat([inputs, dummies], axis = 'columns')
inputs.head(2)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0

In [29]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [30]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [31]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.Fare = inputs.Fare.fillna(inputs.Fare.mean())

In [32]:
from sklearn.model_selection import train_test_split
X_train, y_train, X_test, y_test = train_test_split(inputs, target, test_size= 0.2)

In [33]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [34]:
model.fit(X_train, y_train)

ValueError: y should be a 1d array, got an array of shape (179, 5) instead.