In [47]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('salaries.csv')

In [4]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [34]:
inputs = df.drop('salary_more_then_100k', axis = 'columns')
inputs.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [35]:
target = df['salary_more_then_100k']
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [36]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

inputs['le_company'] = le_company.fit_transform(inputs['company'])
inputs['le_job'] = le_company.fit_transform(inputs['job'])
inputs['le_degree'] = le_company.fit_transform(inputs['degree'])

In [37]:
inputs.head()

  company                  job     degree  le_company  le_job  le_degree
0  google      sales executive  bachelors           2       2          0
1  google      sales executive    masters           2       2          1
2  google     business manager  bachelors           2       0          0
3  google     business manager    masters           2       0          1
4  google  computer programmer  bachelors           2       1          0

In [45]:
f_inputs = inputs.drop(['company','job','degree'],axis = 'columns')
f_inputs.head()

   le_company  le_job  le_degree
0           2       2          0
1           2       2          1
2           2       0          0
3           2       0          1
4           2       1          0

In [68]:
X_train, X_test, y_train, y_test = train_test_split(f_inputs, target, test_size=0.25)

In [69]:
model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [70]:
model.score(X_test, y_test)

0.75

In [74]:
model.predict([[2,0,1]])

C:\Users\Aakash Saxena\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)