In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('titanic.csv')
df.head(2)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1

In [3]:
df_new = df.drop(['PassengerId','Embarked', 'Name', 'SibSp', 'Parch','Ticket','Cabin'], axis = 'columns')
df_new.head(2)

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1

In [4]:
target = df_new.Survived
inputs=df_new.drop('Survived', axis='columns')

In [5]:
dummies = pd.get_dummies(inputs.Sex).astype(int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [6]:
inputs = pd.concat([inputs, dummies], axis = 'columns')
inputs.head(2)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0

In [7]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [8]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [9]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.Fare = inputs.Fare.fillna(inputs.Fare.mean())

In [20]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     891 non-null    float64
 2   Fare    891 non-null    float64
 3   female  891 non-null    int32
 4   male    891 non-null    int32
dtypes: float64(2), int32(2), int64(1)
memory usage: 28.0 KB

In [21]:
target.info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: Survived
Non-Null Count  Dtype
--------------  -----
891 non-null    int64
dtypes: int64(1)
memory usage: 7.1 KB

In [24]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train,y_test = train_test_split(inputs, target, test_size= 0.3)

In [26]:
len(X_train)

623

In [27]:
len(X_test)

623

In [28]:
len(y_test)

268

In [34]:
y_train.head()

855    1
792    0
181    0
463    0
398    0
Name: Survived, dtype: int64

In [30]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [35]:
model.fit(X_train, y_train)

GaussianNB()

In [37]:
model.score(X_test,y_test)

0.7873134328358209

In [38]:
y_test[:10]

519    0
678    0
523    1
199    0
510    1
840    0
725    0
733    0
695    0
559    1
Name: Survived, dtype: int64

In [43]:
y_pred = model.predict(X_test[:10])
y_pred

array([0, 1, 1, 1, 0, 0, 0, 0, 0, 1], dtype=int64)