In [1]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (pyproject.toml): started
  Building wheel for word2number (pyproject.toml): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5589 sha256=fa0fbda0fe3de0fd3fe4313c81f25610f1e73496cac1d469b6f032ab441b321c
  Stored in directory: c:\users\aakash saxena\appdata\local\pip\cache\wheels\5b\79\fb\d25928e599c7e11fe4e00d32048cd74933f34a74c633d2aea6
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [18]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from word2number import w2n

In [5]:
df = pd.read_csv("hiring.csv")

In [6]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [10]:
df.columns

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

In [34]:
df = df.rename(columns = {'test_score(out of 10)' : 'TestScore'})
df = df.rename(columns = {'interview_score(out of 10)' : 'InterviewScore'})
df = df.rename(columns = {'salary($)' : 'salary'})

In [35]:
df.experience = df.experience.fillna("zero")
df.TestScore = df.TestScore.fillna(df.TestScore.median())
df

   experience  TestScore  InterviewScore  salary
0           0        8.0               9   50000
1           0        8.0               6   45000
2           5        6.0               7   60000
3           2       10.0              10   65000
4           7        9.0               6   70000
5           3        7.0              10   62000
6          10        8.0               7   72000
7          11        7.0               8   80000

In [36]:
for i in range(0,len(df.experience)):
    df.experience[i] = w2n.word_to_num(df.experience[i])

ValueError: Type of input is not string! Please enter a valid number word (eg. 'two million twenty three thousand and forty nine')

In [38]:
reg = LinearRegression()
reg.fit(df[['experience','TestScore','InterviewScore']],df.salary)

LinearRegression()

In [39]:
reg.predict([[3,9,7]])

C:\Users\Aakash Saxena\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([58224.16302766])